<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Book Registration</title>
<link th:href="@{/css/input-type.css}" rel="stylesheet" />
<link th:href="@{/css/buttons.css}" rel="stylesheet" />
<link th:href="@{/css/fonts.css}" rel="stylesheet" />
<link th:href="@{/css/alert.css}" rel="stylesheet" />
<link th:href="@{/css/sidebar.css}" rel="stylesheet" />
<link th:href="@{/css/fragment-orientation.css}" rel="stylesheet" />
<link th:href="@{/css/header.css}" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<div th:replace = "fragments/SideNavigationBar :: sidenav"></div>
	<div class="container" align="center">
		<p class="arial-header">Book Registration</p>
		<form action="#" th:action="@{/home/registerbook}" th:object="${book}"
			method="POST">
			<input type="text" class="text" th:field="*{bookName}" id = "bookName" placeholder="Book Name" th:required="required"/><br>
			<input type="text" class="text" th:field="*{price}" id = "price" placeholder="Price" th:required="required"/><br>
			<input type="text" class="text" th:field="*{sectionCode}" id = "sectionCode" placeholder="sectionCode" th:required="required"/><br>
			<input type="text" class="text" th:field="*{rackCode}" id = "rackCode" placeholder="rackCode" th:required="required"/><br>
			<input type="text" class="text" th:field="*{status}" id = "status" placeholder="Status" readonly/><br>
			<input type="text" class="text" th:field="*{edition}" id = "edition" placeholder="Edition" th:required="required"/><br>
			<input type="text" class="text" th:field="*{authorName}" id = "authorName" placeholder="Author Name" th:required="required"/><br>
			<input type="date" class="text" th:field="*{dateOfPurchaseString}" id = "dataOfPurchase" placeholder="Date Of Purchase" th:required="required"/><br>
			
			<button type="submit" id = "submit" class = "button buttonblack">Register Book</button>
		</form>

		<br>
		<a th:href="@{/signout}">Sign out</a>
	</div>
</body>
<script>
$(document).ready(function(){
	$("input:text").val('');
	$("#status").val('Available');
});
</script>
</html>